<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [5]:
mean_h = df.groupby(['gender'])['height'].mean().reset_index()
mean_h['n_gender'] = mean_h['height'].apply(lambda x: 'male' if x == max(mean_h['height']) else 'female')
mean_h = mean_h[['gender', 'n_gender']]
df = df.merge(mean_h)
df.groupby(['n_gender'])['gender'].count()

n_gender
female    45530
male      24470
Name: gender, dtype: int64

In [6]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,n_gender
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,male
1,17623,2,169,82.0,150,100,1,1,0,0,1,1,male
2,22584,2,178,95.0,130,90,3,3,0,0,1,1,male
3,18815,2,173,60.0,120,80,1,1,0,0,1,0,male
4,14791,2,165,60.0,120,80,1,1,0,0,0,0,male

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [7]:
alco = df.groupby(['n_gender'])['alco'].mean()
print('male' if alco.male > alco.female else 'female')

male

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [8]:
smoki = df.groupby(['n_gender'])['smoke'].mean()
int(smoki.male/smoki.female)

12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [9]:
df['month'] = df['age']/365*12
df.groupby(['smoke'])['month'].median()

smoke
0    648.394521
1    628.767123
Name: month, dtype: float64

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [10]:
df['year'] = (df['age']/365).astype(int)
df_60_64 = df[(df.year>=60)&(df.year <=64)]
df_60_64['n_ap_hi'] = df_60_64['ap_hi'].apply(lambda x: int(x/20-1)*20)
df_60_64 = df_60_64[(df_60_64['n_ap_hi']>=120)&(df_60_64['n_ap_hi']<=180)]
df_60_64 = df_60_64.groupby(['n_ap_hi', 'cholesterol'])['year'].count().reset_index()
# int(df_60_64[(df_60_64['n_ap_hi']==120)&(df_60_64['cholesterol']==1)]['year']),int(df_60_64[(df_60_64['n_ap_hi']==180)&(df_60_64['cholesterol']==3)]['year'])
df_60_64

C:\Users\dgrigorev\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

    n_ap_hi  cholesterol  year
0       120            1  2046
1       120            2   631
2       120            3   837
3       140            1   603
4       140            2   207
5       140            3   235
6       160            1   117
7       160            2    61
8       160            3    55
9       180            1    13
10      180            2    12
11      180            3     6

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [48]:
df['BMI'] = df.apply(lambda x: x['weight']/x['height']/x['height']*10000, axis = 1)
print("1. " + ("True" if np.median(df['BMI']) >= 18.5 and np.median(df['BMI']) <= 25 else 'False'))
print("2. " + ("True" if np.mean(df[df['n_gender'] == 'female']['BMI'])> np.mean(df[df['n_gender'] == 'male']['BMI']) else 'False'))
print("3. " + 
      ("True" if 
       np.mean(df[(df['cardio'] == 0)]['BMI'])> np.mean(df[(df['cardio'] == 1)]['BMI']) 
       else 'False'))
print("4. " + 
      ("True" if 
       np.mean(df[(df['cardio'] == 0)&(df['alco'] == 0)&(df['n_gender'] == 'female')]['BMI']) - (25+18.5)/2 > np.mean(df[(df['cardio'] == 0)&(df['alco'] == 0)&(df['n_gender'] == 'male')]['BMI']) - (25+18.5)/2  
       else 'False'))

1. False
2. True
3. False
4. True

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [65]:
df_clear = df[(df['ap_hi']<df['ap_lo'])|(df['height']<df['height'].quantile(0.025))|(df['height']>df['height'].quantile(0.975))|(df['weight']<df['weight'].quantile(0.025))|(df['weight']>df['weight'].quantile(0.975))]
len(df_clear)/len(df)

0.0963